﻿@model ToyShop.Web.Models.Toy

@{ 
    ViewData["Title"] = "ToyDetails";
}

<h1>Toy data:</h1>

<br/>
@Html.ActionLink("Back to the list", "Index")
<br/>

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Manufacturer)</td>
        <td>@Html.DisplayFor(m => m.Manufacturer)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Quantity)</td>
        <td>@Html.DisplayFor(m => m.Quantity)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Category)</td>
        <td>@Html.DisplayFor(m => m.Category)</td>
    </tr>
</table>