﻿@model ToyShop.Web.Models.Toy

<h3>Toy Editor</h3>

@using (Html.BeginForm("Edit", "Toys"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Manufacturer)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Manufacturer)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Category)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Category)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Quantity)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Quantity)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price)</div>
    <br />

    <input type="submit" value="SEND" />
    <br />
}
