﻿@model ToyShop.Web.Models.ToyListViewModel

@{ 
    ViewData["Title"] = "ToysIndex";
}

<h1>Toys Index</h1><br />

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("ToyEditor", Model.EditableToy) 

@await Html.PartialAsync("ToyList", Model.ListOfToys) 