﻿@model IEnumerable<ToyShop.Web.Models.Toy>

<h3>Toy List</h3>

@if (Model.Count() == 0)
{
    <p>No data in database</p>
}
else
{
    <table>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Manufacturer)</th>
            <th>@Html.DisplayNameFor(m => m.First().Price)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Manufacturer)</td>
                <td>@Html.DisplayFor(m => item.Price)</td>
                <td>@Html.ActionLink("<SHOW>", "Details", new { id = item.Id})</td>
                <td>@Html.ActionLink("<DELETE>", "Remove", new { id = item.Id})</td>
                <td>@Html.ActionLink("<EDIT>", "Edit", new { id = item.Id})</td>
            </tr>
        }
    </table>
}