﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>API test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="toys"></ul>
Toy ID:
<input type="text" id="toyId" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:1191/ToysApi/"; 

        // XSS = Cross Site Scripting
        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#toys").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.id) + " " +
                            htmlEncode(item.name) + " " +
                            htmlEncode(item.manufacturer) + " for " +
                            htmlEncode(item.price) +" EUR</li>";
                        $("#toys").append(html);
                    });
                });
        }

        function doAdd() {
            var newToy = {
                "name": "ASD", "manufacturer": "lego", "price": "120000", "category": "sajt", "quantity": "100"
            };
            $.post(url + "add", newToy, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.operationResult);
                doListNEW();
            });
        }
        function doMod() {
            var newToy = {
                "Id": $("#toyId").val(), "name": "AAAAAAA", "manufacturer": "BBBBBBBB", "price": "150000", "category": "kids", "quantity": "10"
            };
            $.post(url + "mod", newToy, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.operationResult);
                doListNEW();
            });
        }
        function doDel() {
            $.get(url + "del/" + $("#toyId").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.operationResult);
                doListNEW();
            });
        }
    </script>
}